@import "header";
@import "footer";
.desk{
  font-family: 'Scada', sans-serif;
  &-content{
    .tabs{
      font-weight: 700;
      font-size: 1.375rem;
      margin-bottom: 16px;
      span{
        color: #fff;
        padding: .9375rem 1.875rem;
        background-color: $midGrey;
        cursor: pointer;
        &:nth-child(2){
          margin: 0 3px;
        }
      }
    }
    &-in{
      background-color: #f2f2f2;
      width: 924px;
      min-height: 518px;
      max-height: 100%;
      box-sizing: border-box;
      padding: 35px 30px;
      .profile{
        form{
          font-size: 1.25em;
          font-weight: 400;
          color: $darkGrey;
          div{
            display: flex;
            justify-content: space-between;
            width: 41%;
            label{
              margin: auto 0;
            }
            input{
              border: none;
              width: 205px;
              height: 50px;
              text-align: center;
              margin-bottom: 5px;
              &::placeholder{
                color: $darkGrey;
              }
            }
            &:last-child{
              display: flex;
              justify-content: flex-end;
              width: 100%;
              margin-top: 130px;
              input{
                background-color: $pink;
                color: #fff;
                font-weight: 700;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}