@import "header";
@import "footer";
%centerTd{
  tr{
    td{
      &:not(:first-child){
        text-align: center;
      }
    }
  }
}
@mixin chooseCenter($position){
  @if $position == thead {
    tr{
      td{
        text-align: center;
      }
    }
  }@else if $position == tbodyNtfoot {
    tr{
      td{
        &:not(:first-child){
          text-align: center;
        }
      }
    }
  }
}
$colorHead: #b7bbaf;
.table-tirefit{
  margin-top: 2%;
  div{
    background-color: #1c1c1c;
  }
}
.table-wrap{
  background-color: #1c1c1c;
  padding: 25px 0;
  table{
    font-family: 'Scada', sans-serif;
    color: #fff;
    background-color: #080808;
    width: 100%;
    border: 2px solid $colorHead;
    &:nth-child(2){
      margin-top: 35px;
    }
    caption{
      font-size: 18px;
      color: $colorHead;
      line-height: 2;
    }
    td,th{
      border: 1px solid #414141;
      color: #828994;
    }
    tfoot{
      td{
        color: #b5b9bb;
      }
    }
    thead{
      @include chooseCenter(thead);
    }
    tbody{
      @include chooseCenter(tbodyNtfoot);
    }
    tfoot{
      @include chooseCenter(tbodyNtfoot);
    }
  }
}